@model IEnumerable<ApplicationDashboardMVC.Models.TopCustomerViewModel>

<div class="list-group">

    @foreach (var customer in Model)
    {
        <a href="#" class="list-group-item">
            <div style="display: inline-block;width: 60px;">
                <img class="rounded img-thumbnail" src="@string.Format("/Images/Customers/{0}", customer.CustomerImage)" alt="" style="width:50px; height:60px;" />
            </div>

            @customer.CustomerName
            <span class="label label-info"> @string.Format("{0} : {1}", "Count Orders", customer.CountOrder) </span>
            <span class="label label-success" style="margin-left: 10px;"> @string.Format("{0} : {1}", "From", customer.CustomerCountry) </span>

        </a>
    }

</div>
